<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Project</th>
			<th>Status</th>
			<th>Title</th>
			<th>Assignee</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>#</td>
			<td>Project</td>
			<td>Status</td>
			<td>Title</td>
			<td>Assignee</td>
		</tr>
		<tr>
			<td>#</td>
			<td>Project</td>
			<td>Status</td>
			<td>Title</td>
			<td>Assignee</td>
		</tr>
		<tr>
			<td>#</td>
			<td>Project</td>
			<td>Status</td>
			<td>Title</td>
			<td>Assignee</td>
		</tr>
	</tbody>
</table>